proxy:
  socks5_port: 1080
  http_port: 8080
  api_port: 8088

subscription:
  # Paste a V2Ray subscription base64 string or point to a file
  url: ""
  file: ""

load_balancing:
  strategy: latency   # latency | priority | weighted
  probe_on_start: true

plugins:
  torrent_block: true
  routing_rules:
    - match: {type: geoip, value: ir}
      action: proxy
    - match: {type: domain, value: tracker.thepiratebay.org}
      action: block
    - match: {type: ip_cidr, value: 10.0.0.0/8}
      action: direct

sidecars:
  masterdns:
    enabled: true
    priority: 1
  dnstt:
    enabled: false
  slipstream:
    enabled: false
  psiphon:
    enabled: false
  tor:
    enabled: false
